In [1]:
import pandas as pd
import numpy

In [2]:
#檔案匯入
original_data = pd.read_csv("C:\\交易資料集.csv")

In [3]:
#data pre-processing
original_data = original_data[original_data.QUANTITY >0] #數量為零或負值的交易代表退貨或註銷，應於前置處理中剔除
original_data = original_data[["ITEM_ID", "INVOICE_NO"]]

#取得商品清單
original_items = original_data[["ITEM_ID"]] 
items = original_items.drop_duplicates()

In [4]:
#資料分組(以發票號碼分組)
X = original_data.groupby(by=["INVOICE_NO"])
X = X.groups

invoice_no = []
items = []
for key in X:
    item = []
    for value in X.get(key):
        item.append(original_data.at[value, "ITEM_ID"])
    invoice_no.append(key)
    items.append(item)

In [5]:
#模型資料
data = {
    "invoice_no": invoice_no,
    "items": items
}
data = pd.DataFrame(data)

data

                invoice_no                                              items
0      1616070000/79213916                                         [14690914]
1      1616070001/79213917                                         [14890019]
2               1616070002  [15436269, 15471069, 15245997, 15436261, 15547...
3               1616070003                     [15589015, 15586998, 15547003]
4               1616070004           [15436253, 15245997, 15471069, 15471068]
...                    ...                                                ...
36493           W016079134                                           [145586]
36494           W016079135                                            [70841]
36495           W016079136                                            [70841]
36496           W016079137                                          [3312988]
36497           W016079138                                         [14929932]

[36498 rows x 2 columns]